h1 {
  font-size: 150px;
  text-align: center;
}

h2 {
  font-size: 75px;
  text-align: center;
}

#Button1 {
  font-size: 90px;
}

#submitBar {
  font-size: 50px;
}

#quickMes {
  font-size: 30px;
}
